/* 전체 페이지에 대한 기본 스타일 설정 */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

/* To-Do List 컨테이너 스타일 */
#todo-container {
  max-width: 700px;
  margin: auto;
  margin-top: 40px;
  background: white;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 1px #c5d6f7;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 50px;
}

/* 할 일 추가 폼 스타일 */
form.add-todo {
  display: flex;
  margin-bottom: 40px;
}

.title, .body {
  flex: 1;
  margin: 0 8px 5px ;
  padding: 15px 10px 20px;
  border: 1px solid #c5d6f7; 
  border-radius: 10px; 
  box-sizing: border-box; 
  box-shadow: 0 2px 3px #90B1DB; 
  transition: border-color 0.3s; 
  background-color: #fafafa; 
}

.title:focus, .body:focus {
  border-color:  #90B1DB; /* 입력 필드에 포커스 될 때 테두리 색상 변경 */
}

.add-button {
  font-size: 18px;
  padding: 12px;
  margin-left: 10px;
  background-color: #90B1DB;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

button.add-button:hover {
  background-color: #5193ea;
}

/* 할 일 목록 스타일 */
table {
  width: 100%;
  table-layout: fixed;
  display: flex;
  justify-content: center;
  
  
}

.task {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}

.checkbox {
  margin: 15px;
}

.task-title, .task-body {
  flex: 1;
  margin-right: 5px;
  padding: 10px;
  border: 1px solid  #c5d6f7;
  border-radius: 10px;
}

.task-edit, .task-delete {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 10px;
}

.task-edit:hover, .task-delete:hover {
  opacity: 0.5;
}
